@model Teacher


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Add Teacher</h2>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="TeacherName">Teacher Name</label>
                <input type="text" class="form-control mb-3" asp-for="TeacherName" placeholder="Enter Name">
                <span asp-validation-for="TeacherName" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control mb-3" asp-for="Email" placeholder="Enter Email">
                <span asp-validation-for="Email" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Subject">Subject</label>
                <input type="text" class="form-control mb-3" asp-for="Subject" placeholder="Enter Subject">
                <span asp-validation-for="Subject" class=" alert-danger"></span>
            </div>
            
        </div>


        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Save</button>
        <a asp-controller="RateTeacher" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}