@model Ratings

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Rate Teacher</h2>
    </div>

    <form method="post" asp-action="Rate">
        <input asp-for="TeacherId" type="hidden"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="UserName">User Name</label>
                <input type="text" class="form-control mb-3" asp-for="UserName">
            </div>
            
            <div class="form-group col-md-6">
                <label asp-for="CommunicationPoint">Communication</label>
                <input type="text" class="form-control mb-3" asp-for="CommunicationPoint">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PunctualityPoint">Punctuality</label>
                <input type="text" class="form-control mb-3" asp-for="PunctualityPoint">
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="PersonalityPoint">Personality</label>
                <input type="text" class="form-control" asp-for="PersonalityPoint">
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Submit</button>
        <a asp-controller="RateTeacher" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}